.button {
  border-radius: 8px;
}

.primary {
  color: #fff;
  background: #256729;
}

.secondary {
  color: #fff;
  background: #e18c8c;
}
.secondary:hover,
.secondary:active {
  background: #ebcfcf;
  border-color: #ebcfcf;
}
